*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
width: 100%;
margin: 20px 5%;

}
.headerstyle{
  background-color: #82c0ff;
  height: 100px;
  width: 100%;

}
.navbar {
  width: 100%;
  height: 50px;
  background-color: #063479;
}
.bannerstyles {
  width: 100%;
  height: 250px;
  background-color: #a1b17c;
}
.maincontainer {
  display: flex;

}
.sidemenustyles {
  width: 20%;
  height: 650px;
  background-color: #a0da8a;
}
.maindisplaystyles {
  width: 100%;
  height: 650px;
  background-color: #63808b;
}
.footerstyles {
  width: 100%;
  height: 50px;
  background-color: #063479;
}
.paragraphstyles {
  font-size: 20px;
  color: #e70606 !important;
  margin: 10px;
}
ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
  background-color: #063479;
  color: white;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.movie-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.movie-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

form {
  width: 60%;
  margin: 0px auto;
  padding: 20px;
}

label,input,button {
  display: block;
  margin: 5px;
}